<!-- Code for issuing std title -->
<% provide(:title, "Help") %>

<!-- Link for e-mailing help questions -->
<h1>Help?</h1>
	
	<p>Get some help at <a href="mailto:cinthialgs@gmail.com?Subject=Help%20pls" target="_top"> my email</a></p>

	<%= image_tag("doggo.jpg", alt: "Cutest dog ever") %>


