<!-- Code for issuing std title -->
<% provide(:title, "Home") %>

<!-- Description of page -->
<h1>Home</h1>
	<p>This is the homepage for the toy project Reclama App</p>
	<!-- Link to jump to insert new page -->
	<h2><%= link_to "Upload your suggestion! <3", new_message_path %></h2>

