<footer>


					<div class="form">
					<form action="form.php" method= "post">

						<label for="message"> Send me here what you want to see featured next: </label>
  							<textarea name="message" id="message"> </textarea>

  						<input type="submit" name="Send" id="Send" value="Send">

  					</form>
  					</div>

        			<img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">

        			<p>Cinthia Lages Campos</p>
     
</footer>