<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <%= render 'layouts/header' %>

  <div class="container">
  <body>
    <%= yield %>
  <%= render 'layouts/footer' %> 

		</div>

		<script src="http://code.jquery.com/jquery.js"></script>

		<script src="js/test.js"></script>
  </body>
  </div>


</html>
